<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="mitchpaulus" value="https://nuget.pkg.github.com/mitchpaulus/index.json" />
    </packageSources>

    <packageSourceCredentials>
        <mitchpaulus>
            <add key="Username" value="mitchpaulus" />
            <add key="ClearTextPassword" value="%GH_TOKEN%" />
        </mitchpaulus>
    </packageSourceCredentials>
</configuration>
