[user]
    email = paulusm14@gmail.com
    name = Mitchell Paulus
[push]
    default = simple
[core]
    autocrlf = input
[alias]
	st = status -u
    co = checkout
    logg = log --graph --oneline --decorate --abbrev-commit --all
	fp = fetch --prune
    pull = pull --ff-only
    branches = branch -a
    remotes = remote -v
    cm = commit -m
