[user]
	email = paulusm14@gmail.com
	name = Mitchell Paulus
[push]
	default = simple
[core]
	autocrlf = true
[alias]
	st = status
	co = checkout
	logg = log --graph --oneline --decorate --abbrev-commit --all
