[user]
    email = paulusm14@gmail.com
    name = Mitchell Paulus
[push]
    default = simple
[alias]
	st = status -u
    co = checkout
    logg = log --graph --date=format:'%b-%d %H:%M' -n 50 --format=format:'%C(yellow)%d%Creset %s %Cred%an %Cgreen%cd %Cblue%h%Creset'
	fp = fetch --prune
    pull = pull --ff-only
    branches = branch -a
    remotes = remote -v
    cm = commit -m
    # Taken from https://blog.jez.io/cli-code-review/
    files = !git diff --name-only $(git merge-base HEAD Dev_branch)
    stat = !git diff --stat $(git merge-base HEAD Dev_branch)
    review = !nvim $(git files) +\"bufdo Gdiffsplit Dev_branch\"
[include]
    path = ~/.hostgitconfig
[pull]
	ff = only
