bundle/
*.swp
*.spl
pack/
tmp/
*.aux
*.log

.idea/

.config/fish/fish_variables
.config/fish/secrets.fish

.config/fish/completions/CCLLCParser.exe.fish

notes/*.pdf
notes/doe2.png
notes/*.docx

go/toggl/toggl
go/todoist/todoist

# Haskell build files
*.hi
*.o

# Redo
.redo/

scripts/printmath

# fzf added files
fzf_key_bindings.fish
.config/fish/functions/fish_user_key_bindings.fish

haskell/linear_reset_excel
haskell/underscore_files

vim/vimrc

# Don't need cached python files
*.pyc

python/test_diagram.py

sfeedrc

# REDOGI
go/lf-preview-win/lf-preview-win.exe
go/todoist/todoist
go/toggl/toggl
go/toggl/toggl.exe
haskell/**/*
haskell/all
notes/**/*.pdf
sfeedrc
vim/vimrc
