bundle/
*.swp
*.spl
pack/
tmp/
*.aux
*.log

.idea/

.config/fish/fish_variables
.config/fish/secrets.fish

notes/*.pdf
notes/doe2.png
notes/*.docx

go/toggl
go/todoist

# Haskell build files
*.hi
*.o

# Redo
.redo/

scripts/printmath

# fzf added files
fzf_key_bindings.fish
.config/fish/functions/fish_user_key_bindings.fish

haskell/linear_reset_excel
haskell/underscore_files

vim/vimrc

# Don't need cached python files
*.pyc
