*.jpg bin
*.md eol=lf
*.sh text eol=lf
*.msh text eol=lf
*.fish text eol=lf
lfrc text eol=lf
.gitattributes text eol=lf
rss.tsv text eol=lf
scripts/* text eol=lf
.gitignore text eol=lf
.config/vsnip/*.json text eol=lf
