snippet optsat "Optimal SAT JSON String for Implementer"
{
	"MATPrediction" : $1,
	"VDesign" : $2,
	"FanExponent" : $3,
	"FanCurveConstant" : $4,
	"WDesign" : $5,
	"MaxHumidityRatio" : ${6:0.009},
	"Name" : $7,
	"BoundTerminalUnitProp" : $8,
	"SATEnergySelector" : $9,
}
endsnippet
